
img#empire{
  max-width: 30%;
  max-height: 30%;
}
img#jamaic{
  max-width: 30%;
  max-height: 30%;
}
img#sanFa{
  max-width: 30%;
  max-height: 30%;
}
img#lasVega{
  max-width: 30%;
  max-height: 30%;
}
